src/Models/Facility/GothClubFacility/GothClubFacility.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <define name="GothClubFacility">
    <element name="GothClubFacility"> 
      <element name="input">
        <element name="capacity">
          <data type="int">
        </element>
        <ref name="incommodity"/>
        <ref name="outcommodity"/>
      </element>
    </element>
  </define>

</grammar>
